<!--
<form accept-charset="UTF-8" action="/users" method="post">
	<label for="username">Your Username</label>
	<input type="text" id="username" name="user[username]" />

	<label for="email">Your Email</label>
	<input type="text" id="email" name="user[email]" />

	<label for="password">Your Password</label>
	<input type="password" id="password" name="user[password]" />

	<input type="submit" value="Create Account" />

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
	<input type="hidden" name="_method" value="patch"	

</form>


<%= form_tag("/users", method: "patch") do %>
	<%= label_tag(:username, "Your Username") %>
	<%= text_field_tag(:username) %>

	<%= label_tag(:email, "Your Email") %>
	<%= email_field_tag(:email) %>

	<%= label_tag(:password, "Your Password") %>
	<%= password_field_tag(:password) %>

	<%= submit_tag("Submit") %>
<% end %>
!-->

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<h2><%= pluralize(@user.errors.count, "error") %> were detected:</h2>
		<ul>
	  	<% @user.errors.full_messages.each do |error| %>
	  		<li><%= error %></li>
	  	<% end %>
		</ul>
	<% end %>

	<div>
	<%= f.label :username, "1. Username Here:" %>
	<%= f.text_field :username %>
	</div>
	
	<div>
	<%= f.label :email, "2. Email Here:" %>
	<%= f.email_field :email %>
	</div>

	<div>
	<%= f.label :password, "3. Password Here:" %>
	<%= f.password_field :password %>
	</div>

	<%= f.submit "Create Account" %>
<% end %>